@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #000;
    --grey: #888;
    --light: #fff
}

body {
    font-family: 'Sora', sans-serif;
    color: var(--grey);
    line-height: 1.7;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

.logo {
    width: 180px;
}

a {
    text-decoration: none;
}

.navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar.nav-link {
    color: var(--grey);
    font-weight: 700;
    font-size: 14px;
}

.btn {
    padding: 11px 18px;
}

.hero {
    background-image: url("./img/cover.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}

#services {
    padding-top: 120px;
    padding-bottom: 150px;

}

.card-effect {
    background-color: #fff;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
    /* background-color: var(--primary); */

}

.iconbox {
    width: 54px;
    height: 54px;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 100%;
    flex: none;

}

.services {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.services::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;

}

.services:hover::after {
    opacity: 1;
    top: 0;
}

.services:hover .iconbox {
    background-color: #fff;
    color: var(--primary);
}

.services:hover h5 {
    color: #fff;
}

.services:hover p {
    color: #fff;
}

.col-img {
    background-image: url("./img/cover2.jpg");
    background-position: center;
    background-size: cover;
    min-height: 500px;

}


.project img {
    width: 100%;
}

.project {
    position: relative;
    z-index: 2;
    overflow: hidden;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    background-color: rgba(21, 20, 51, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease;

}

img {
    width: 100%;
}

#portfolio {
    padding: 110px 0px;
}

.project img {

    transition: all 0.4s ease;

}

.project:hover .overlay {
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}

#pricing {
    padding: 110px 0px;

}

.pricing i {
    color: var(--primary);
}

#team {
    padding: 120px 0px
}

.team-img img {
    width: 125px;
    height: 125px;
    border-radius: 100%;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    color: #fff;
    /* border-radius: 5px solid var(--primary); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0px 5px;
}

#blog{
    padding: 0px 0px;
}
.blog-img img{
    /* width: 120px; */
}